@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$dark-red: rgb(119, 27, 27);
$black: black;
$whiteSmoke: whiteSmoke;
$gray: gray;


.greenButton {
  width: 15rem;
  height: 2rem;
  cursor: pointer;
  background-color: black;
  color: whitesmoke;
  border: black;
  font-family: 'Roboto';
  border-radius: 3px;
  background: rgb(0, 198, 0);
  width: 100%;
  color: white;

  &:disabled {
    background: rgb(0, 115, 0);
    color: grey;
  }
}
.redButton {
  width: 15rem;
  height: 2rem;
  cursor: pointer;
  background-color: black;
  color: whitesmoke;
  border: black;
  font-family: 'Roboto';
  border-radius: 3px;
  background: rgb(213, 4, 0);
  color: white;
  margin: auto;

  &:disabled {
    background: rgb(103, 2, 0);
    color: grey;
  }
}


.container {
  display: flex;
  margin: 10;
  height: 100vh;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  .reactQuill {
    max-height: 80vh;
    overflow: auto;
  }

  .inputContainer {
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;

    .input {
      width: 15rem;
      height: 2.3rem;
      outline: none;
      width: 100%;
      border-radius: 5px;
      border: none;
      outline: 1px solid rgb(140, 140, 140);
      margin: 5px 0;
      padding: 10px;
      display: block;

      &:focus {
        outline: 2px solid rgb(0, 110, 255);
      }
    }
  }
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1;
  justify-content: center;
  align-items: center;
  .notesContainer {
    height: 80vh;
    overflow-y: auto;
    padding: 10px;
    width: 100%;

    .noteCard {
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
      padding: 10px;
      border-radius: 3px;
      margin: 10px 0px;
    }
  }
}
